{% extends "base.html" %}

{% block content %}
<div class ="content">
    <h1>What Should We Watch?</h1>
    <form method="GET" action="/">
        <input type="text" name="query" placeholder="Search keywords for your movie recommendations (ex: Action, Lesbian)" value="{{ query }}" size="80">
        <button type="submit">Search Movies</button>
        <br><br>
        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
            <option value="">Any</option>
            <option value="Action" {% if request.args.get('genre') == 'Action' %}selected{% endif %}>Action</option>
            <option value="Adult" {% if request.args.get('genre') == 'Adult' %}selected{% endif %}>Adult</option>
            <option value="Adventure" {% if request.args.get('genre') == 'Adventure' %}selected{% endif %}>Adventure</option>
            <option value="Animation" {% if request.args.get('genre') == 'Animation' %}selected{% endif %}>Animation</option>
            <option value="Biography" {% if request.args.get('genre') == 'Biography' %}selected{% endif %}>Biography</option>
            <option value="Comedy" {% if request.args.get('genre') == 'Comedy' %}selected{% endif %}>Comedy</option>
            <option value="Crime" {% if request.args.get('genre') == 'Crime' %}selected{% endif %}>Crime</option>
            <option value="Documentary" {% if request.args.get('genre') == 'Documentary' %}selected{% endif %}>Documentary</option>
            <option value="Drama" {% if request.args.get('genre') == 'Drama' %}selected{% endif %}>Drama</option>
            <option value="Family" {% if request.args.get('genre') == 'Family' %}selected{% endif %}>Family</option>
            <option value="Fantasy" {% if request.args.get('genre') == 'Fantasy' %}selected{% endif %}>Fantasy</option>
            <option value="Film Noir" {% if request.args.get('genre') == 'Film Noir' %}selected{% endif %}>Film Noir</option>
            <option value="Game Show" {% if request.args.get('genre') == 'Game Show' %}selected{% endif %}>Game Show</option>
            <option value="History" {% if request.args.get('genre') == 'History' %}selected{% endif %}>History</option>
            <option value="Horror" {% if request.args.get('genre') == 'Horror' %}selected{% endif %}>Horror</option>
            <option value="Musical" {% if request.args.get('genre') == 'Musical' %}selected{% endif %}>Musical</option>
            <option value="Music" {% if request.args.get('genre') == 'Music' %}selected{% endif %}>Music</option>
            <option value="Mystery" {% if request.args.get('genre') == 'Mystery' %}selected{% endif %}>Mystery</option>
            <option value="News" {% if request.args.get('genre') == 'News' %}selected{% endif %}>News</option>
            <option value="Reality-TV" {% if request.args.get('genre') == 'Reality-TV' %}selected{% endif %}>Reality-TV</option>
            <option value="Romance" {% if request.args.get('genre') == 'Romance' %}selected{% endif %}>Romance</option>
            <option value="Sci-Fi" {% if request.args.get('genre') == 'Sci-Fi' %}selected{% endif %}>Sci-Fi</option>
            <option value="Short" {% if request.args.get('genre') == 'Short' %}selected{% endif %}>Short</option>
            <option value="Sport" {% if request.args.get('genre') == 'Sport' %}selected{% endif %}>Sport</option>
            <option value="Talk-Show" {% if request.args.get('genre') == 'Talk-Show' %}selected{% endif %}>Talk-Show</option>
            <option value="Thriller" {% if request.args.get('genre') == 'Thriller' %}selected{% endif %}>Thriller</option>
            <option value="War" {% if request.args.get('genre') == 'War' %}selected{% endif %}>War</option>
            <option value="Western" {% if request.args.get('genre') == 'Western' %}selected{% endif %}>Western</option>
        </select>


        <label for="adult">Adult:</label>
        <select name="adult" id="adult">
            <option value="">Any</option>
            <option value="true" {% if request.args.get('adult') == 'true' %}selected{% endif %}>Explicit</option>
            <option value="false" {% if request.args.get('adult') == 'false' %}selected{% endif %}>Not Explicit</option>
        </select>


        <label for="runtime">Max Runtime (minutes):</label>
        <input
            type="number"
            name="runtime"
            id="runtime"
            min="0"
            placeholder="e.g. 120"
            value="{{ request.args.get('runtime', '') }}">
    </form>


    {% if tasks %}
        <h2>Results:</h2>
        <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong> - {{ task.genres }} - {{task.runtime}} mins - {{task.release_date}}<br>
                <em>{{ task.overview }}</em>
            </li>
        {% endfor %}
        </ul>
    {% elif query %}
        <p>No results found for "{{ query }}".</p>
    {% endif %}
</div>
{% endblock %}
